.jumbotron {
	color:white;
	margin:20px;
	background-color: grey;
	
}



	.navbar-default {
	background-color: white;
	
	
}


img {
	height: 400px;
	width: 400px;
	left: 500px;
	position: relative;
	
}



.header {
	
	
	
color: black;
	
	
	
	
}

h2 {
	
	text-align: center;
	font-family: Arial;
	
}



	
	.content {
		color: black;
	}







body {
	background: -webkit-linear-gradient(orange, yellow);
	text-align: center;
}

ul {
	
	border: 0.5px solid transparent;
}



li {
	
	text-align: center;
	border-bottom: 0.5px solid transparent;
}

li:last-child {
	
	border-bottom: none;
}







h1{ 

text-align: center;
font-family: Arial;


}



ul {
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	width:750%;
	height: 100%;
	position: static;
	overflow: auto;
	

	
	
	
	
	
	
}







li a {
	
	width: 130px;
	display: block;
	background-color: black;
}

li a:hover {
	color: black;
	background-color: white;
	
	
	
	
}


.active {
	
}

body {
	
    width: 900px;
    height: 1000px;
    overflow: scroll;
}


	
	.selfie {
		
	width: 300px;
	position: relative;
	left: 550px;	
	border-radius: 25px;
    border: 2px solid black;
    padding: 10px; 
	
	
  
 
		
		
		
		
		
		
	}
	
	
	#head {
		
    
		
	padding: 15px 0px 15px 15px;
	}
	
	.main {
		margin-left: 175px;
		max-width: 600px;
		padding: 15px 30px 0px 0px;
		float: right;
		
	}
	.side {
	width: 145px;
	float: left;
	padding: 0px 0px 0px 15px;
	
	
		
		
		
		
	}
	
	#first {
	width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
	
	
	
		
		
		
		
		
	}
	
	
	#second {
		
	width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}
	
	
	#third {
		
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}
	
	#four {
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
		
	}

	#fifth {
		width: 500px;
	height: 500px;
	position: relative;
	left: 450px;
	
	}
	
	
	
	.special {
		
		width: 250px;
	height: 250px;
	position: relative;
	left: 580px;
	
	
		
	}
	
	
	
	.full {
		
			margin-left: 175px;
		max-width: 600px;
		padding: 15px 30px 0px 0px;
		float: left;
		position: relative;
		left: 230px;
		
		
	}
	
	
	
	
	
	
	
	#menav {

	width: 145px;
	float: left;
	padding: 0px 0px 0px 15px;
	position: relative;
		right:240px;
		
		
	}
	
	#onepart {
	width: 294px;
	float: left;
	padding: 5px 15px;
	margin: 0px 0px 5px 5px;
	position: relative;
	right: 1px;
	left: 190px;
	
	
   
	
   
		
		
	}
	
	
	#twopart {
		
	width: 270px;
	padding: 0px 0px 5px 15px;
	float: right;
	position: relative;
	top: 140px;
	right: 100px;
	left: 120px;
	
	
	
	
  	
		
		
		
	}
	
	
	#king {
		
		
	padding: 5px;
	width: 960px;
	margin: 20px auto;
		
		
		
	}
	
	
	
	.po {
		
		position: relative;
		right:  120px;
		
		
		
		
		
		
	}
	
	
	
	
	
	p {
		
		font-size:50px;
	}
	
.img-responsive {
	position: relative;
	left: 360px;
	
}


.row {
color: black;
}
	.col-lg-12 {
		color: black;
	}
	
	.col-md-8 {
		position: relative;
		left: 200px;
		
	}
	
	.col-md-4 {
		position: relative;
		right: 340px;
		padding: 10px;
		margin: 10px;
		
	}
	
	.col-md-5 {
		position: relative;
		bottom: 400px;
		
		
	}
	
	.col-md-7 {
		
	right: 5px;
	}
	
	.col-md-9 {
	
		left: 150px;
		bottom: 150px;
		margin: 50px;
		
	}
	
	.col-md-6 {
		left: 400px;
		margin: 10px;
		bottom: 150px;
		

	}
	
	.col-md-3 {
		left: 130px;
		text-align:left;
	}
	
	
	.carousel-inner {
		width: 1350px;
	}
	
	
.buns {
	background-color: blue;
	width: 90px;
	left: 400px;
	position:relative
}
	
	

			